.nohp {
    background: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px !important;
    border-radius: 0;
    color: #F78536 !important;
}